* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: white;
}

main {
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 25px;
    flex-direction: column;

}

.title {
    color: black;

}

.container {
    display: flex;
    justify-content: space-between;
}

.seat {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 223, 119, 0.80);
    color: black;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.line {
    top: 20px;
    right: 10px;
    position: absolute;
    background-color: rgb(201, 104, 13);
    transform: rotate(45deg);
    transform-origin: right;
    width: 200px;
    height: 5px;
}

.colored {
    background-color: rgba(245, 110, 76, 0.87);
}

.total {
    color: black;
}

.buy {
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.836);
    padding: 8px 16px;
    width: 100px;
    text-align-last: center;
}


.disabled {
    opacity: 0.6;
    pointer-events: none;
}